<html>

<head>
    <title>My About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        {{> header }}
    </header>


    <div class="main-content">

        <img src="/img/cb_singh-min.jpg" alt="photo">
        <h3>{{name}}</h3>
    </div>

    <footer>
        {{> footer}}
    </footer>

</body>

</html>