<html>

<head>
    <title>My About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        {{> header }}
    </header>


    <div class="main-content">

        <img src="/img/RSI_Telecom_A_K_Verma.jpg" alt="photo">
        <p><b>RSI Telecom</b></p>
        <h3>Shri {{name}}</h3>
    </div>

    <footer>
        {{> footer}}
    </footer>

</body>

</html>