<html>

<head>
    <title>My Help Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        {{> header}}
    </header>



    <div class="main-content">
        <p>{{sub}}</p>
    </div>

    <footer>
        {{> footer}}
    </footer>

</body>

</html>